In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import plotly.express as px
import plotly.graph_objects as go

# Creating the combined data .csv
---

In [2]:
# Loading in the individual data files for each streaming service

netflix = Path("Resources/netflix_data.csv")
hulu = Path("Resources/hulu_data.csv")
amazon = Path("Resources/amazon_data.csv")
disney=Path("Resources/disney_data.csv")

# Extracting the data and saving as dataframes

netflix_df =pd.read_csv(netflix)
hulu_df =pd.read_csv(hulu)
amazon_df =pd.read_csv(amazon)
disney_df =pd.read_csv(disney)

In [3]:
# Creating new columns for each dataframe to hold which streaming service it is from
# This will be necessary for the analysis notebook

netflix_df['streaming_service'] = 'Netflix'
hulu_df['streaming_service'] = 'Hulu'
amazon_df['streaming_service'] = 'Amazon'
disney_df['streaming_service'] = 'Disney'

In [4]:
# Combining the 4 dataframes into one dataframe that holds all the streaming service data

combined_df = pd.concat([netflix_df, hulu_df, amazon_df, disney_df], axis=0)

In [5]:
# Removing columns with lots of empty values or were not relevant to the study

new_combined =combined_df.drop(['director','cast','description'], axis=1)

In [6]:
# Saving the combined dataframe as a csv

new_combined.to_csv('resources/combined_cleaned_data.csv', index=False)

# Creating the Rating .csv

In [7]:
# Creating a netflix dataframe using the cleaned dataframe
# Finding the value counts of the netflix ratings

Netflix_all_df = new_combined[(new_combined["streaming_service"] == "Netflix")]
Netflix_all_rating = Netflix_all_df["rating"].value_counts()
Netflix_all_rating

rating
TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
74 min         1
84 min         1
66 min         1
Name: count, dtype: int64

In [8]:
# Creating a hulu dataframe using the cleaned dataframe
# Finding the value counts of the hulu ratings

Hulu_all_df = new_combined[(new_combined["streaming_service"] == "Hulu")]
Hulu_all_rating = Hulu_all_df["rating"].value_counts()
Hulu_all_rating

rating
TV-14     691
TV-MA     391
R         345
TV-PG     321
PG-13     163
         ...
34 min      1
47 min      1
65 min      1
37 min      1
71 min      1
Name: count, Length: 88, dtype: int64

In [9]:
# Creating a disney dataframe using the cleaned dataframe
# Finding the value counts of the disney ratings

Disney_all_df = new_combined[(new_combined["streaming_service"] == "Disney")]
Disney_all_rating = Disney_all_df["rating"].value_counts()
Disney_all_rating

rating
TV-G        318
TV-PG       301
G           253
PG          236
TV-Y7       131
TV-14        79
PG-13        66
TV-Y         50
TV-Y7-FV     13
Name: count, dtype: int64

In [10]:
# Creating a amazon dataframe using the cleaned dataframe
# Finding the value counts of the amazon ratings

Amazon_all_df = new_combined[(new_combined["streaming_service"] == "Amazon")]
Amazon_all_rating = Amazon_all_df["rating"].value_counts()
Amazon_all_rating

rating
13+         2117
16+         1547
ALL         1268
18+         1243
R           1010
PG-13        393
7+           385
PG           253
NR           223
TV-14        208
TV-PG        169
TV-NR        105
G             93
TV-G          81
TV-MA         77
TV-Y          74
TV-Y7         39
UNRATED       33
NC-17          3
AGES_18_       3
NOT_RATE       3
AGES_16_       2
16             1
ALL_AGES       1
Name: count, dtype: int64

In [11]:
# Combining the value counts of all the ratings for each streaming service into a new dataframe

All_rating_df = pd.DataFrame({
    "Netflix Ratings": Netflix_all_rating,
    "Hulu Ratings": Hulu_all_rating,
    "Amazon Ratings": Amazon_all_rating,
    "Disney Ratings": Disney_all_rating
})

All_rating_df

          Netflix Ratings  Hulu Ratings  Amazon Ratings  Disney Ratings
rating
1 Season              NaN          42.0             NaN             NaN
100 min               NaN           3.0             NaN             NaN
101 min               NaN           7.0             NaN             NaN
102 min               NaN           3.0             NaN             NaN
103 min               NaN           3.0             NaN             NaN
...                   ...           ...             ...             ...
TV-Y                307.0          31.0            74.0            50.0
TV-Y7               334.0          46.0            39.0           131.0
TV-Y7-FV              6.0           NaN             NaN            13.0
UNRATED               NaN           NaN            33.0             NaN
UR                    3.0           NaN             NaN             NaN

[105 rows x 4 columns]

In [12]:
# Reassign the ratings to fit within one of 5 categories: Teens, Kids, Adults, All Ages, and X 
# X was used to house all values that weren't ratings and therefore needed to be cleaned out

All_rating_df['Rating Category'] = All_rating_df.index.to_series().apply( lambda x: 'Teens' if x in ['13+', 'PG-13', 'TV-14', '16+'] 
                                                                       else ('Kids' if x in ['PG', 'TV-PG', '7+', 'TV-Y7', 'TV-Y7-FV'] 
                                                                             else ('Adults' if x in ['R', 'NC-17', '18+', 'TV-MA', 'UR', 'UNRATED']
                                                                                    else ('All Ages' if x in ['G', 'TV-G', 'TV-Y', 'ALL', 'ALL AGES']
                                                                             else 'X') )))

substring = 'X'
filter = All_rating_df['Rating Category'].str.contains(substring)
All_rating_filtered_df = All_rating_df[~filter]

# Creating a new dataframe to hold the value count of each rating with its associated category for each streaming service

All_rating_filtered_df

,Netflix Ratings,Hulu Ratings,Amazon Ratings,Disney Ratings,Rating Category
rating,,,,,
13+,NaN,NaN,2117.0,NaN,Teens
16+,NaN,NaN,1547.0,NaN,Teens
18+,NaN,NaN,1243.0,NaN,Adults
7+,NaN,NaN,385.0,NaN,Kids
ALL,NaN,NaN,1268.0,NaN,All Ages
G,41.0,18.0,93.0,253.0,All Ages
NC-17,3.0,NaN,3.0,NaN,Adults
PG,287.0,105.0,253.0,236.0,Kids
PG-13,490.0,163.0,393.0,66.0,Teens
R,799.0,345.0,1010.0,NaN,Adults
TV-14,2160.0,691.0,208.0,79.0,Teens
TV-G,220.0,148.0,81.0,318.0,All Ages
TV-MA,3207.0,391.0,77.0,NaN,Adults
TV-PG,863.0,321.0,169.0,301.0,Kids
TV-Y,307.0,31.0,74.0,50.0,All Ages
TV-Y7,334.0,46.0,39.0,131.0,Kids
TV-Y7-FV,6.0,NaN,NaN,13.0,Kids
UNRATED,NaN,NaN,33.0,NaN,Adults
UR,3.0,NaN,NaN,NaN,Adults

In [13]:
# Creating a Dataframe for just the ratings in the Adult category

Adults_Rating_All = All_rating_filtered_df[(All_rating_filtered_df["Rating Category"] == "Adults")]
Adults_Rating_All

,Netflix Ratings,Hulu Ratings,Amazon Ratings,Disney Ratings,Rating Category
rating,,,,,
18+,NaN,NaN,1243.0,NaN,Adults
NC-17,3.0,NaN,3.0,NaN,Adults
R,799.0,345.0,1010.0,NaN,Adults
TV-MA,3207.0,391.0,77.0,NaN,Adults
UNRATED,NaN,NaN,33.0,NaN,Adults
UR,3.0,NaN,NaN,NaN,Adults

In [14]:
# Getting a sum of all the adult ratings for Netflix

Adults_Rating_Netflix = Adults_Rating_All["Netflix Ratings"].sum()
Adults_Rating_Netflix

4012.0

In [15]:
# Getting a sum of all the adult ratings for Hulu

Adults_Rating_Hulu = Adults_Rating_All["Hulu Ratings"].sum()
Adults_Rating_Hulu

736.0

In [16]:
# Getting a sum of all the adult ratings for Amazon

Adults_Rating_Amazon = Adults_Rating_All["Amazon Ratings"].sum()
Adults_Rating_Amazon

2366.0

In [17]:
# Getting a sum of all the adult ratings for Disney

Adults_Rating_Disney = Adults_Rating_All["Disney Ratings"].sum()
Adults_Rating_Disney

0.0

In [18]:
# Creating a Dataframe for just the ratings in the Teen category

Teens_Rating_All = All_rating_filtered_df[(All_rating_filtered_df["Rating Category"] == "Teens")]
Teens_Rating_All

,Netflix Ratings,Hulu Ratings,Amazon Ratings,Disney Ratings,Rating Category
rating,,,,,
13+,NaN,NaN,2117.0,NaN,Teens
16+,NaN,NaN,1547.0,NaN,Teens
PG-13,490.0,163.0,393.0,66.0,Teens
TV-14,2160.0,691.0,208.0,79.0,Teens

In [19]:
# Getting a sum of all the teen ratings for Netflix

Teens_Rating_Netflix = Teens_Rating_All["Netflix Ratings"].sum()
Teens_Rating_Netflix

2650.0

In [20]:
# Getting a sum of all the teen ratings for Hulu

Teens_Rating_Hulu = Teens_Rating_All["Hulu Ratings"].sum()
Teens_Rating_Hulu

854.0

In [21]:
# Getting a sum of all the teen ratings for Amazon

Teens_Rating_Amazon = Teens_Rating_All["Amazon Ratings"].sum()
Teens_Rating_Amazon

4265.0

In [22]:
# Getting a sum of all the teen ratings for Disney

Teens_Rating_Disney = Teens_Rating_All["Disney Ratings"].sum()
Teens_Rating_Disney

145.0

In [23]:
# Creating a Dataframe for just the ratings in the Kids category

Kids_Rating_All = All_rating_filtered_df[(All_rating_filtered_df["Rating Category"] == "Kids")]
Kids_Rating_All

,Netflix Ratings,Hulu Ratings,Amazon Ratings,Disney Ratings,Rating Category
rating,,,,,
7+,NaN,NaN,385.0,NaN,Kids
PG,287.0,105.0,253.0,236.0,Kids
TV-PG,863.0,321.0,169.0,301.0,Kids
TV-Y7,334.0,46.0,39.0,131.0,Kids
TV-Y7-FV,6.0,NaN,NaN,13.0,Kids

In [24]:
# Getting a sum of all the kids ratings for Netflix

Kids_Rating_Netflix = Kids_Rating_All["Netflix Ratings"].sum()
Kids_Rating_Netflix

1490.0

In [25]:
# Getting a sum of all the kids ratings for Hulu

Kids_Rating_Hulu = Kids_Rating_All["Hulu Ratings"].sum()
Kids_Rating_Hulu

472.0

In [26]:
# Getting a sum of all the kids ratings for Amazon

Kids_Rating_Amazon = Kids_Rating_All["Amazon Ratings"].sum()
Kids_Rating_Amazon

846.0

In [27]:
# Getting a sum of all the kids ratings for Disney

Kids_Rating_Disney = Kids_Rating_All["Disney Ratings"].sum()
Kids_Rating_Disney

681.0

In [28]:
# Creating a Dataframe for just the ratings in the All Ages category

AllAges_Rating_All = All_rating_filtered_df[(All_rating_filtered_df["Rating Category"] == "All Ages")]
AllAges_Rating_All

,Netflix Ratings,Hulu Ratings,Amazon Ratings,Disney Ratings,Rating Category
rating,,,,,
ALL,NaN,NaN,1268.0,NaN,All Ages
G,41.0,18.0,93.0,253.0,All Ages
TV-G,220.0,148.0,81.0,318.0,All Ages
TV-Y,307.0,31.0,74.0,50.0,All Ages

In [29]:
# Getting a sum of all the all ages ratings for Netflix

AllAges_Rating_Netflix = AllAges_Rating_All["Netflix Ratings"].sum()
AllAges_Rating_Netflix

568.0

In [30]:
# Getting a sum of all the all ages ratings for Hulu

AllAges_Rating_Hulu = AllAges_Rating_All["Hulu Ratings"].sum()
AllAges_Rating_Hulu

197.0

In [31]:
# Getting a sum of all the all ages ratings for Amazon

AllAges_Rating_Amazon = AllAges_Rating_All["Amazon Ratings"].sum()
AllAges_Rating_Amazon

1516.0

In [32]:
# Getting a sum of all the all ages ratings for Disney

AllAges_Rating_Disney = AllAges_Rating_All["Disney Ratings"].sum()
AllAges_Rating_Disney

621.0

In [33]:
# Creating dataframe that holds the amount of movies/shows that are for All Ages in each service

AllAges_Rating_All_Df = pd.DataFrame (
    {"Netflix Ratings": [AllAges_Rating_Netflix],
     "Hulu Ratings": [AllAges_Rating_Hulu],
     "Amazon Ratings": [AllAges_Rating_Amazon],
     "Disney Ratings": [AllAges_Rating_Disney]},
index=["All Ages"])

AllAges_Rating_All_Df

          Netflix Ratings  Hulu Ratings  Amazon Ratings  Disney Ratings
All Ages            568.0         197.0          1516.0           621.0

In [34]:
# Creating dataframe that holds the amount of movies/shows that are for Kids in each service

Kids_Rating_All_Df = pd.DataFrame (
    {"Netflix Ratings": [Kids_Rating_Netflix],
     "Hulu Ratings": [Kids_Rating_Hulu],
     "Amazon Ratings": [Kids_Rating_Amazon],
     "Disney Ratings": [Kids_Rating_Disney]},
index=["Kids"])

Kids_Rating_All_Df

      Netflix Ratings  Hulu Ratings  Amazon Ratings  Disney Ratings
Kids           1490.0         472.0           846.0           681.0

In [35]:
# Creating dataframe that holds the amount of movies/shows that are for Teens in each service

Teens_Rating_All_Df = pd.DataFrame (
    {"Netflix Ratings": [Teens_Rating_Netflix],
     "Hulu Ratings": [Teens_Rating_Hulu],
     "Amazon Ratings": [Teens_Rating_Amazon],
     "Disney Ratings": [Teens_Rating_Disney]},
index=["Teens"])

Teens_Rating_All_Df

       Netflix Ratings  Hulu Ratings  Amazon Ratings  Disney Ratings
Teens           2650.0         854.0          4265.0           145.0

In [36]:
# Creating dataframe that holds the amount of movies/shows that are for Adults in each service

Adults_Rating_All_Df = pd.DataFrame (
    {"Netflix Ratings": [Adults_Rating_Netflix],
     "Hulu Ratings": [Adults_Rating_Hulu],
     "Amazon Ratings": [Adults_Rating_Amazon],
     "Disney Ratings": [Adults_Rating_Disney]},
index=["Adults"])

Adults_Rating_All_Df

        Netflix Ratings  Hulu Ratings  Amazon Ratings  Disney Ratings
Adults           4012.0         736.0          2366.0             0.0

In [37]:
# Creating a data frame to holds all the counts for each age group in each service

All_Ratings_Complete_Df = pd.DataFrame (
    {"Netflix": [AllAges_Rating_Netflix, Kids_Rating_Netflix, Teens_Rating_Netflix, Adults_Rating_Netflix],
     "Hulu": [AllAges_Rating_Hulu, Kids_Rating_Hulu, Teens_Rating_Hulu, Adults_Rating_Hulu],
     "Amazon": [AllAges_Rating_Amazon, Kids_Rating_Amazon, Teens_Rating_Amazon, Adults_Rating_Amazon],
     "Disney": [AllAges_Rating_Disney, Kids_Rating_Disney, Teens_Rating_Disney, Adults_Rating_Disney]},
index=["All Ages", "Kids", "Teens", "Adults"])

All_Ratings_Complete_Df

          Netflix   Hulu  Amazon  Disney
All Ages    568.0  197.0  1516.0   621.0
Kids       1490.0  472.0   846.0   681.0
Teens      2650.0  854.0  4265.0   145.0
Adults     4012.0  736.0  2366.0     0.0

In [38]:
# Saving the dataframe as a csv

All_Ratings_Complete_Df.to_csv('resources/Ratings_Summary.csv', index=True)

# Creating the Duration .csv

In [39]:
# Creating a dataframe to hold only the tv shows from the cleaned dataframe

tv_shows_df = new_combined[(combined_df["type"] == "TV Show")]

# Creating a new column to hold only the integer value for the number of seasons that a show has

tv_shows_df['Season Number'] = tv_shows_df['duration'].str.extract(r'(\d+)').astype(int)

tv_shows_df.head()

/var/folders/9h/z2md7zqd42nc4z91fcmjxpz80000gn/T/ipykernel_31143/3772807661.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tv_shows_df['Season Number'] = tv_shows_df['duration'].str.extract(r'(\d+)').astype(int)

,show_id,type,title,country,date_added,release_year,rating,duration,listed_in,streaming_service,Season Number
1,s2,TV Show,Blood & Water,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",Netflix,2
2,s3,TV Show,Ganglands,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",Netflix,1
3,s4,TV Show,Jailbirds New Orleans,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV",Netflix,1
4,s5,TV Show,Kota Factory,India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",Netflix,2
5,s6,TV Show,Midnight Mass,NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",Netflix,1

In [40]:
# Getting the value counts for the amount of seasons that shows have in Netflix

Netflix_tv_df = tv_shows_df[(tv_shows_df["streaming_service"] == "Netflix")]
Netflix_tv_duration = Netflix_tv_df["Season Number"].value_counts()
Netflix_tv_duration

Season Number
1     1793
2      425
3      199
4       95
5       65
6       33
7       23
8       17
9        9
10       7
13       3
15       2
12       2
11       2
17       1
Name: count, dtype: int64

In [41]:
# Getting the value counts for the amount of seasons that shows have in Disney

Disney_tv_df = tv_shows_df[(tv_shows_df["streaming_service"] == "Disney")]
Disney_tv_duration = Disney_tv_df["Season Number"].value_counts()
Disney_tv_duration

Season Number
1     219
2      82
3      45
4      24
5      11
7       5
6       3
10      2
9       2
8       2
32      1
16      1
19      1
Name: count, dtype: int64

In [42]:
# Getting the value counts for the amount of seasons that shows have in Hulu

Hulu_tv_df = tv_shows_df[(tv_shows_df["streaming_service"] == "Hulu")]
Hulu_tv_duration = Hulu_tv_df["Season Number"].value_counts()
Hulu_tv_duration

Season Number
1     829
2     265
3     121
4      99
5      80
6      56
7      46
8      20
9      17
11     13
10     10
12      8
16      3
13      3
14      3
29      2
22      2
17      2
23      2
15      2
19      1
30      1
20      1
25      1
34      1
26      1
Name: count, dtype: int64

In [43]:
# Getting the value counts for the amount of seasons that shows have in Amazon

Amazon_tv_df = tv_shows_df[(tv_shows_df["streaming_service"] == "Amazon")]
Amazon_tv_duration = Amazon_tv_df["Season Number"].value_counts()
Amazon_tv_duration

Season Number
1     1342
2      229
3      110
4       62
5       39
6       23
7       15
8       10
9        6
10       5
11       3
14       3
12       3
29       1
21       1
19       1
15       1
Name: count, dtype: int64

In [44]:
# Creating a dataframe to hold all the value count data for the seasons in each service

TV_duration_df = pd.DataFrame({
    "Netflix TV Duration": Netflix_tv_duration,
    "Hulu TV Duration": Hulu_tv_duration,
    "Amazon TV Duration": Amazon_tv_duration,
    "Disney TV Duration": Disney_tv_duration
})

# Sort the dataframe by season number

TV_duration_df_sorted = TV_duration_df.sort_values(by="Season Number", ascending=True)
TV_duration_df_sorted

,Netflix TV Duration,Hulu TV Duration,Amazon TV Duration,Disney TV Duration
Season Number,,,,
1,1793.0,829.0,1342.0,219.0
2,425.0,265.0,229.0,82.0
3,199.0,121.0,110.0,45.0
4,95.0,99.0,62.0,24.0
5,65.0,80.0,39.0,11.0
6,33.0,56.0,23.0,3.0
7,23.0,46.0,15.0,5.0
8,17.0,20.0,10.0,2.0
9,9.0,17.0,6.0,2.0
10,7.0,10.0,5.0,2.0
11,2.0,13.0,3.0,NaN
12,2.0,8.0,3.0,NaN
13,3.0,3.0,NaN,NaN
14,NaN,3.0,3.0,NaN
15,2.0,2.0,1.0,NaN
16,NaN,3.0,NaN,1.0
17,1.0,2.0,NaN,NaN
19,NaN,1.0,1.0,1.0
20,NaN,1.0,NaN,NaN
21,NaN,NaN,1.0,NaN
22,NaN,2.0,NaN,NaN
23,NaN,2.0,NaN,NaN
25,NaN,1.0,NaN,NaN
26,NaN,1.0,NaN,NaN
29,NaN,2.0,1.0,NaN
30,NaN,1.0,NaN,NaN
32,NaN,NaN,NaN,1.0
34,NaN,1.0,NaN,NaN

In [45]:
# Save the sorted dataframe as a csv

TV_duration_df_sorted.to_csv('resources/Durations_Summary.csv', index=True)