In [5]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [7]:
netflix = Path("Resources/netflix_data.csv")
hulu = Path("Resources/hulu_data.csv")
amazon = Path("Resources/amazon_data.csv")
disney=Path("Resources/disney_data.csv")

netflix_df =pd.read_csv(netflix)
hulu_df =pd.read_csv(hulu)
amazon_df =pd.read_csv(amazon)
disney_df =pd.read_csv(disney)

In [8]:
netflix_df['streaming_service'] = 'Netflix'
hulu_df['streaming_service'] = 'Hulu'
amazon_df['streaming_service'] = 'Amazon'
disney_df['streaming_service'] = 'Disney'

In [9]:
combined_df = pd.concat([netflix_df, hulu_df, amazon_df, disney_df], axis=0)

In [10]:
combined_df.head()

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in,streaming_service,cast,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,PG-13,90 min,Documentaries,Netflix,NaN,NaN
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",Netflix,NaN,NaN
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",Netflix,NaN,NaN
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,TV-PG,91 min,"Children & Family Movies, Comedies",Netflix,NaN,NaN
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies",Netflix,NaN,NaN

In [11]:
print(combined_df)

     show_id     type                                           title  \
0         s1    Movie                            Dick Johnson Is Dead
1         s3  TV Show                                       Ganglands
2         s6  TV Show                                   Midnight Mass
3        s14    Movie                Confessions of an Invisible Girl
4         s8    Movie                                         Sankofa
...      ...      ...                                             ...
1445   s1446    Movie                        X-Men Origins: Wolverine
1446   s1447    Movie  Night at the Museum: Battle of the Smithsonian
1447   s1448    Movie                                 Eddie the Eagle
1448   s1449    Movie                            Bend It Like Beckham
1449   s1450    Movie           Captain Sparky vs. The Flying Saucers

             director                                 country  \
0     Kirsten Johnson                           United States
1     Julien Leclercq                                  France
2       Mike Flanagan                           United States
3       Bruno Garotti                                  Brazil
4        Haile Gerima                           United States
...               ...                                     ...
1445       Gavin Hood           United States, United Kingdom
1446       Shawn Levy                   United States, Canada
1447  Dexter Fletcher  United Kingdom, Germany, United States
1448  Gurinder Chadha  United Kingdom, Germany, United States
1449      Mark Waring                           United States

              date_added  release_year rating  duration  \
0              9/25/2021          2020  PG-13    90 min
1              9/24/2021          2021  TV-MA  1 Season
2              9/24/2021          2021  TV-MA  1 Season
3              9/22/2021          2021  TV-PG    91 min
4              9/24/2021          1993  TV-MA   125 min
...                  ...           ...    ...       ...
1445        June 4, 2021          2009  PG-13   108 min
1446       April 2, 2021          2009     PG   106 min
1447   December 18, 2020          2016  PG-13   107 min
1448  September 18, 2020          2003  PG-13   112 min
1449       April 1, 2020          2012   TV-G     2 min

                                              listed_in streaming_service  \
0                                         Documentaries           Netflix
1     Crime TV Shows, International TV Shows, TV Act...           Netflix
2                    TV Dramas, TV Horror, TV Mysteries           Netflix
3                    Children & Family Movies, Comedies           Netflix
4      Dramas, Independent Movies, International Movies           Netflix
...                                                 ...               ...
1445          Action-Adventure, Family, Science Fiction            Disney
1446                   Action-Adventure, Comedy, Family            Disney
1447                        Biographical, Comedy, Drama            Disney
1448                       Buddy, Comedy, Coming of Age            Disney
1449      Action-Adventure, Animals & Nature, Animation            Disney

                                                   cast  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1445  Hugh Jackman, Liev Schreiber, Danny Huston, wi...
1446  Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...
1447  Tom Costello, Jo Hartley, Keith Allen, Dickon ...
1448  Parminder Nagra, Keira Knightley, Jonathan Rhy...
1449                                      Charlie Tahan

                                            description
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1445  Wolverine unites with legendary X-Men to fight...
1446  Larry Daley returns to rescue some old friends...
1447  True story of Eddie Edwards, a British ski-jum...
1448  Despite the wishes of their traditional famili...
1449         View one of Sparky's favorite home movies.

[22981 rows x 13 columns]

In [19]:
tv_shows_df = combined_df[(combined_df["type"] == "TV Show")]
tv_shows_df

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in,streaming_service,cast,description
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",Netflix,NaN,NaN
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",Netflix,NaN,NaN
5,s9,TV Show,The Great British Baking Show,Andy Devonshire,United Kingdom,9/24/2021,2021,TV-14,9 Seasons,"British TV Shows, Reality TV",Netflix,NaN,NaN
17,s4,TV Show,Jailbirds New Orleans,Not Given,Pakistan,9/24/2021,2021,TV-MA,1 Season,"Docuseries, Reality TV",Netflix,NaN,NaN
18,s15,TV Show,Crime Stories: India Detectives,Not Given,Pakistan,9/22/2021,2021,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Docuseries",Netflix,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1417,s1418,TV Show,X-Men: Evolution,NaN,United States,"November 12, 2019",2000,TV-Y7,4 Seasons,"Action-Adventure, Animation, Kids",Disney,"Noel Fisher, Vincent Gale, Christopher Judge, ...",X-Men: Evolution features the team as teenager...
1434,s1435,TV Show,Smart Guy,NaN,United States,"October 1, 2019",1996,TV-G,3 Seasons,"Comedy, Coming of Age, Kids",Disney,"Tahj Mowry, John Jones, Jason Weaver, Essence ...",A genius tries to fit in as a high school soph...
1439,s1440,TV Show,Disney Kirby Buckets,NaN,United States,NaN,2014,TV-Y7,3 Seasons,"Action-Adventure, Comedy, Coming of Age",Disney,"Jacob Bertrand, Mekai Curtis, Cade Sutton, Oli...",Welcome to Kirby's world! It's rude and sketchy.
1440,s1441,TV Show,Disney Mech-X4,NaN,Canada,NaN,2016,TV-Y7,2 Seasons,"Action-Adventure, Comedy, Science Fiction",Disney,"Nathaniel Potvin, Raymond Cham, Kamran Lucas, ...",Ryan discovers his ability to control a giant ...
1441,s1442,TV Show,Imagination Movers,NaN,United States,NaN,2008,TV-Y,3 Seasons,"Kids, Music",Disney,"Rich Collins, Dave Poche, Scott Durbin, Scott ...","Rock out with the Imagination Movers, Disney J..."

In [52]:
Netflix_tv_df = tv_shows_df[(tv_shows_df["streaming_service"] == "Netflix")]
Netflix_tv_duration = Netflix_tv_df["duration"].value_counts()
Netflix_tv_duration

duration
1 Season      1791
2 Seasons      421
3 Seasons      198
4 Seasons       94
5 Seasons       64
6 Seasons       33
7 Seasons       23
8 Seasons       17
9 Seasons        9
10 Seasons       6
15 Seasons       2
13 Seasons       2
12 Seasons       2
17 Seasons       1
11 Seasons       1
Name: count, dtype: int64

In [23]:
Disney_tv_df = tv_shows_df[(tv_shows_df["streaming_service"] == "Disney")]
Disney_tv_duration = Disney_tv_df["duration"].value_counts()
Disney_tv_duration

duration
1 Season      219
2 Seasons      82
3 Seasons      45
4 Seasons      24
5 Seasons      11
7 Seasons       5
6 Seasons       3
10 Seasons      2
9 Seasons       2
8 Seasons       2
19 Seasons      1
32 Seasons      1
16 Seasons      1
Name: count, dtype: int64

In [24]:
Hulu_tv_df = tv_shows_df[(tv_shows_df["streaming_service"] == "Hulu")]
Hulu_tv_duration = Hulu_tv_df["duration"].value_counts()
Hulu_tv_duration

duration
1 Season      829
2 Seasons     265
3 Seasons     121
4 Seasons      99
5 Seasons      80
6 Seasons      56
7 Seasons      46
8 Seasons      20
9 Seasons      17
11 Seasons     13
10 Seasons     10
12 Seasons      8
13 Seasons      3
16 Seasons      3
14 Seasons      3
15 Seasons      2
23 Seasons      2
29 Seasons      2
22 Seasons      2
17 Seasons      2
20 Seasons      1
19 Seasons      1
30 Seasons      1
25 Seasons      1
34 Seasons      1
26 Seasons      1
Name: count, dtype: int64

In [31]:
Amazon_tv_df = tv_shows_df[(tv_shows_df["streaming_service"] == "Amazon")]
Amazon_tv_duration = Amazon_tv_df["duration"].value_counts()
Amazon_tv_duration

duration
1 Season      1342
2 Seasons      229
3 Seasons      110
4 Seasons       62
5 Seasons       39
6 Seasons       23
7 Seasons       15
8 Seasons       10
9 Seasons        6
10 Seasons       5
14 Seasons       3
11 Seasons       3
12 Seasons       3
29 Seasons       1
21 Seasons       1
19 Seasons       1
15 Seasons       1
Name: count, dtype: int64

In [54]:
TV_duration_df = pd.DataFrame({
    "Netflix TV Duration": Netflix_tv_duration,
    "Hulu TV Duration": Hulu_tv_duration,
    "Amazon TV Duration": Amazon_tv_duration,
    "Disney TV Duration": Disney_tv_duration
})

TV_duration_df_sorted = TV_duration_df.sort_values(by="duration", ascending=True)
TV_duration_df_sorted

,Netflix TV Duration,Hulu TV Duration,Amazon TV Duration,Disney TV Duration
duration,,,,
1 Season,1791.0,829.0,1342.0,219.0
10 Seasons,6.0,10.0,5.0,2.0
11 Seasons,1.0,13.0,3.0,NaN
12 Seasons,2.0,8.0,3.0,NaN
13 Seasons,2.0,3.0,NaN,NaN
14 Seasons,NaN,3.0,3.0,NaN
15 Seasons,2.0,2.0,1.0,NaN
16 Seasons,NaN,3.0,NaN,1.0
17 Seasons,1.0,2.0,NaN,NaN
19 Seasons,NaN,1.0,1.0,1.0
2 Seasons,421.0,265.0,229.0,82.0
20 Seasons,NaN,1.0,NaN,NaN
21 Seasons,NaN,NaN,1.0,NaN
22 Seasons,NaN,2.0,NaN,NaN
23 Seasons,NaN,2.0,NaN,NaN
25 Seasons,NaN,1.0,NaN,NaN
26 Seasons,NaN,1.0,NaN,NaN
29 Seasons,NaN,2.0,1.0,NaN
3 Seasons,198.0,121.0,110.0,45.0
30 Seasons,NaN,1.0,NaN,NaN
32 Seasons,NaN,NaN,NaN,1.0
34 Seasons,NaN,1.0,NaN,NaN
4 Seasons,94.0,99.0,62.0,24.0
5 Seasons,64.0,80.0,39.0,11.0
6 Seasons,33.0,56.0,23.0,3.0
7 Seasons,23.0,46.0,15.0,5.0
8 Seasons,17.0,20.0,10.0,2.0
9 Seasons,9.0,17.0,6.0,2.0

In [96]:
Netflix_tv_rating = Netflix_tv_df["rating"].value_counts()
Netflix_tv_rating

rating
TV-MA       1143
TV-14        730
TV-PG        321
TV-Y7        194
TV-Y         175
TV-G          94
NR             4
R              2
TV-Y7-FV       1
Name: count, dtype: int64

In [97]:
Hulu_tv_rating = Hulu_tv_df["rating"].value_counts()
Hulu_tv_rating

rating
TV-14    609
TV-MA    299
TV-PG    272
TV-G     112
TV-Y7     42
TV-Y      25
Name: count, dtype: int64

In [98]:
Amazon_tv_rating = Amazon_tv_df["rating"].value_counts()
Amazon_tv_rating

rating
ALL      280
16+      275
13+      268
TV-14    208
TV-PG    169
18+      146
TV-NR    105
7+        97
TV-G      81
TV-MA     77
TV-Y      74
TV-Y7     39
NR        29
Name: count, dtype: int64

In [99]:
Disney_tv_rating = Disney_tv_df["rating"].value_counts()
Disney_tv_rating

rating
TV-PG       120
TV-Y7        95
TV-G         85
TV-Y         47
TV-14        42
TV-Y7-FV      6
PG            1
Name: count, dtype: int64

In [115]:
TV_rating_df = pd.DataFrame({
    "Netflix TV Rating": Netflix_tv_rating,
    "Hulu TV Rating": Hulu_tv_rating,
    "Amazon TV Rating": Amazon_tv_rating,
    "Disney TV Rating": Disney_tv_rating
})

TV_rating_df

,Netflix TV Rating,Hulu TV Rating,Amazon TV Rating,Disney TV Rating
rating,,,,
13+,NaN,NaN,268.0,NaN
16+,NaN,NaN,275.0,NaN
18+,NaN,NaN,146.0,NaN
7+,NaN,NaN,97.0,NaN
ALL,NaN,NaN,280.0,NaN
NR,4.0,NaN,29.0,NaN
PG,NaN,NaN,NaN,1.0
R,2.0,NaN,NaN,NaN
TV-14,730.0,609.0,208.0,42.0
TV-G,94.0,112.0,81.0,85.0
TV-MA,1143.0,299.0,77.0,NaN
TV-NR,NaN,NaN,105.0,NaN
TV-PG,321.0,272.0,169.0,120.0
TV-Y,175.0,25.0,74.0,47.0
TV-Y7,194.0,42.0,39.0,95.0
TV-Y7-FV,1.0,NaN,NaN,6.0

In [90]:
movies_df = combined_df[(combined_df["type"] == "Movie")]
movies_df.head()

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in,streaming_service,cast,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,PG-13,90 min,Documentaries,Netflix,NaN,NaN
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,TV-PG,91 min,"Children & Family Movies, Comedies",Netflix,NaN,NaN
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies",Netflix,NaN,NaN
6,s10,Movie,The Starling,Theodore Melfi,United States,9/24/2021,2021,PG-13,104 min,"Comedies, Dramas",Netflix,NaN,NaN
7,s939,Movie,Motu Patlu in the Game of Zones,Suhas Kadav,India,5/1/2021,2019,TV-Y7,87 min,"Children & Family Movies, Comedies, Music & Mu...",Netflix,NaN,NaN

In [91]:
Netflix_movie_df = movies_df[(movies_df["streaming_service"] == "Netflix")]
Netflix_movie_duration = Netflix_movie_df["duration"].value_counts()
Netflix_movie_duration

duration
90 min     152
94 min     146
97 min     146
93 min     146
91 min     144
          ...
205 min      1
201 min      1
191 min      1
10 min       1
312 min      1
Name: count, Length: 205, dtype: int64

In [116]:
Amazon_movie_df = movies_df[(movies_df["streaming_service"] == "Amazon")]
Amazon_movie_duration = Amazon_movie_df["duration"].value_counts()
Amazon_movie_duration

duration
90 min     223
91 min     220
92 min     203
89 min     195
88 min     188
          ...
550 min      1
185 min      1
479 min      1
269 min      1
191 min      1
Name: count, Length: 202, dtype: int64

In [117]:
Hulu_movie_df = movies_df[(movies_df["streaming_service"] == "Hulu")]
Hulu_movie_duration = Hulu_movie_df["duration"].value_counts()
Hulu_movie_duration

duration
93 min     37
95 min     34
94 min     33
91 min     33
97 min     31
           ..
37 min      1
67 min      1
132 min     1
54 min      1
56 min      1
Name: count, Length: 109, dtype: int64

In [118]:
Disney_movie_df = movies_df[(movies_df["streaming_service"] == "Disney")]
Disney_movie_duration = Disney_movie_df["duration"].value_counts()
Disney_movie_duration

duration
7 min      42
44 min     42
8 min      41
9 min      33
45 min     31
           ..
170 min     1
64 min      1
151 min     1
130 min     1
68 min      1
Name: count, Length: 145, dtype: int64

In [119]:
Movie_duration_df = pd.DataFrame({
    "Netflix TV Rating": Netflix_movie_duration,
    "Hulu TV Rating": Hulu_movie_duration,
    "Amazon TV Rating": Amazon_movie_duration,
    "Disney TV Rating": Disney_movie_duration
})

Movie_duration_df

,Netflix TV Rating,Hulu TV Rating,Amazon TV Rating,Disney TV Rating
duration,,,,
0 min,NaN,NaN,10.0,NaN
1 min,NaN,1.0,7.0,3.0
10 min,1.0,NaN,18.0,6.0
100 min,108.0,18.0,126.0,8.0
101 min,116.0,25.0,94.0,18.0
...,...,...,...,...
95 min,137.0,34.0,152.0,17.0
96 min,130.0,18.0,143.0,12.0
97 min,146.0,31.0,132.0,15.0
98 min,120.0,29.0,120.0,17.0
99 min,118.0,24.0,133.0,13.0

In [ ]:
Amazon_rating_df = df.Database